html {
  background-color: #adb8c6;
}

.container-app {
  max-width: 1145px;
  width: 840px;
  height: 650px;
  margin: 10px auto;
  background-color: #f6cb59;
  border-style: solid;
  border-width: 10px;
  border-color: #b90000;
}

.header {
  height: 200px;
  padding: 0 20px;
}

.header-title {
  position: relative;
  left: 34.5%;
  bottom: 69.5%;
  width: 65%;
  height: 179px;
  font: normal 400 54px/45px "VT323";
  text-align: right;
  letter-spacing: -0.03em;
  color: #7b2121;
  mix-blend-mode: darken;
  text-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

.header-side {
  position: relative;
  left: 5px;
  top: 20px;
  width: 250px;
  height: 150px;
  padding: 10px;
  border: 2px dashed #820e0e;
  mix-blend-mode: normal;
  font: normal 400 35px/30px "VT323";
  letter-spacing: -0.02em;
  color: #b90000;
}

.notice-box {
  position: relative;
  width: 88px;
  height: 90px;
  font: 400 18px/20px "VT323";
  text-align: right;
  letter-spacing: -0.02em;
  color: #ec0000;
  left: 295px;
  bottom: 260px;
}

.notice-png {
  position: relative;
  mix-blend-mode: color-burn;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: matrix(1, -0.02, 0.02, 1, 0, 0);
  left: 390px;
  bottom: 359px;
}

.highlight-header {
  display: inline;
  color: #ec0000;
}

.highlight-main {
  display: inline;
  color: #b90000;
}

.main {
  width: 380px;
  height: 390px;
  position: relative;
  top: 5px;
  border: 2px dashed rgba(130, 14, 14, 0.99);
  padding: 20px;
  margin: 0 0 0 25px;
}

.password-length-option {
  position: absolute;
  width: 230px;
  height: 55px;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 30px;
  color: #000000;
}

.icons i {
  display: block;
}

.icons {
  font-size: 23px;
  font-weight: bold;
  position: absolute;
  line-height: 1px;
  top: 12px;
  left: 350px;
  cursor: pointer;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.length {
  position: relative;
  left: 235px;
  bottom: 49px;
  width: 110px;
  height: 45px;
  color: #f6cb59;
  background: #b90000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shared-options {
  position: absolute;
  width: 160px;
  height: 34px;

  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 25px;
}

.uppercase-option {
  top: 105px;
}

.lowercase-option {
  top: 105px;
  left: 230px;
}

.numbers-option {
  top: 210px;
}

.symbols-option {
  top: 210px;
  left: 230px;
}

.generate-button,
.clear-button {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 12px;
  position: absolute;
  width: 165px;
  height: 60px;
  top: 290px;
  cursor: pointer;
  background-color: #b90000;
  color: #f6cb59;
  border: none;
}

.clear-button {
  left: 230px;
}

.generate-button:hover,
.clear-button:hover {
  background-color: #ec0000;
  color: #ffd76f;
  transition: 0.4s cubic-bezier(0.7, 0.11, 0.58, 1);
}

.result {
  position: absolute;
  top: 370px;
  width: 165px;
  height: 38px;
  transition-duration: 0.4s;
  background: #4e2828;
  color: #ffeab2;
  font-size: 25px;
}

#result2 {
  left: 230px;
}

.result:hover {
  background-color: #862525;
  color: #ffffff;
}

.check-uppercase {
  left: 140px;
  top: 112px;
}

.check-lowercase {
  left: 350px;
  top: 81px;
}

.check-numbers {
  left: 140px;
  top: 140px;
}

.check-symbols {
  left: 350px;
  top: 108.6px;
}

.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.5;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  margin-bottom: 1.97rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  background: F6CB59;
  transition: background 250ms;
  border: 2px solid rgb(185, 0, 0);
  border-radius: 0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 0.3rem;
  height: 0.6rem;
  border: solid rgba(0, 0, 0, 0);
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input::after {
  border-color: #ffffff;
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input[type="checkbox"]:not([disabled]) ~ .b-input,
.b-contain input[type="checkbox"]:focus ~ .b-input {
  background: rgba(185, 0, 0, 0.65);
  border-color: rgb(185, 0, 0);
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
}

.b-contain input[type="checkbox"]:checked ~ .b-input {
  background: rgb(185, 0, 0);
  border-color: rgb(185, 0, 0);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
  opacity: 0.5;
  cursor: not-allowed;
}

.b-contain:hover input[type="checkbox"]:not([disabled]):checked ~ .b-input,
.b-contain input[type="checkbox"]:checked:focus ~ .b-input {
  background: rgb(185, 0, 0);
  border-color: rgb(185, 0, 0);
}

.gif {
  position: relative;
  top: -410px;
  left: 470px;
  height: 340px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-blend-mode: color-burn;
  mix-blend-mode: color-burn;
}

.coded-img {
  position: relative;
  mix-blend-mode: color-burn;
  left: 677px;
  bottom: 384px;
  width: 0px;
}

.coded-text {
  position: relative;
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ec0000;
  bottom: 360px;
  left: 710px;
}

.coded-text a {
  color: inherit;
}
